.cbc_ADM {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 30px;
  width: 100%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  img{
    width: 30vh;
  }
}