.footerADM {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 
  padding: 60px;
  background-color: #414141;
  margin-top: 100px;

  .esq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img {
      width: 200px;
    }
  }

  .dir {
    color: #fff;
    font-size: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 0 80px;

    .endereco,
    .telefone {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      p {
        margin: 0;
        padding-left: 10px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1030px) {
  .footerADM {
    padding: 30px;
    grid-template-columns: 1fr;
  }
}