.preAgenda {
  .voltar {
    background-color: #71919C;
    border: none;
    text-align: center;
    border-radius: 25px;
    margin: 20px 0 20px 40px;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;

    a {
      color: #ffffff;
      text-decoration: none;
    }

    &:hover {
      background-color: #66828b;
      transform: scale(1.05);
      transition: background-color 0.5s, transform 0.5s;
    }
  }

  .fundo {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

    h2 {
      margin-bottom: 20px;
      font-size: 1.8rem;
      color: #333;
    }

    .data {
      width: 250px;
      padding: 10px;
      font-size: 1rem;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  table {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

    thead {
      background-color: #71919C;
      color: #ffffff;

      th {
        padding: 15px;
        font-weight: bold;
        text-align: left;
        border-bottom: 2px solid #dddddd;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }
      }

      td {
        padding: 15px;
        border-bottom: 1px solid #dddddd;
      }

      .add-agendamento {
        color: #007bff; /* Cor do texto do link */
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Estilos do Modal
 //... (restante do seu código CSS)

.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: relative;

    .close {
      color: #aaa;
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;

      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: #333;
    }

    label {
      display: block;
      margin-bottom: 10px;

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }

    button {
      background-color: #71919C;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      transition: 0.3s;

      &:hover {
        background-color: #66828b;
      }
    }
  }
}

}
