.Servicos {
  .faixa {
    text-align: center;

    h1 {
      font-size: 2rem;
    }
  }

  .itens {
    background-color: #F1F1F1;
    padding: 90px;
    margin-bottom: 180px;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

    .lista {
      display: grid;
      gap: 20px;
      width: 100%;
      max-width: 1200px;
      margin-bottom: 25px;

      /* Exibição padrão em três colunas */
      grid-template-columns: repeat(3, 1fr);

      .lista-item {
        background-color: #ffffff;
        padding: 70px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s, transform 0.2s;

        &:hover {
          background-color: #dddddd;
          transform: scale(1.05);
        }
      }
    }
  }
}

/* Ajustes de responsividade */
@media (max-width: 1440px) {
  .Servicos .lista {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px) {
  .Servicos{
    .itens {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 1024px) {
  .Servicos .lista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 912px) {
  .Servicos .lista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .Servicos .lista {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 430px) {
  .Servicos .lista {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  .Servicos .lista {
    grid-template-columns: 1fr;
  }
}
