.painel {
  .voltar {
    display: flex;
    text-decoration: none;
    background-color: #71919C;
    border: none;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 15px;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    cursor: pointer;

    transition: 0.5s;

    &:hover {
      background-color: #66828b;
      transition: background-color 0.5s, color 0.5s, transform 0.5s;
      transform: scale(1.05);
    }
  }

  .Nome {
    padding: 10px 45px;
  }

  .fundo {
    background-color: #eeeeee;
    margin: 80px auto;
    border-radius: 30px;
    display: flex;
    height: 50vh;
    align-items: center;
    width: 45vw;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    flex-direction: column;

    h1 {
      font-size: 30px;
      margin: 40px 0 25px 0;
    }

    button {
      border: none;
      border-radius: 20px;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);

      a {
        text-decoration: none;
        color: #000;
      }

      margin-top: 20px;
      padding: 10px;
      width: 30vw;
      transition: background-color 0.2s,
      transform 0.2s;
      cursor: pointer;

      &:hover {
        background-color: #e0e0e0;
        transition: background-color 0.2s, transform 0.2s;
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width:1440px) {
  .painel {
    width: 100%;
  }
}

@media (max-width:1280px) {
  .Contato {
    width: 100%;
  }
}

@media (max-width:1024px) {
  .Contato {
    width: 100%;
  }
}

@media (max-width:912px) {
  .Contato {
    width: 100%;
  }
}

@media (max-width:700px) {
  .painel {
    width: 100%;
    h1{
      font-size: 1.5rem;
    }
    .fundo{
      h1{
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width:530px) {
  .painel {
    width: 100%;
    .fundo{
      width: 80%;
      .botao{
        width: 50vw;
      }
    }
  }
}


@media (max-width:375px) {
  .Contato {
    width: 100%;
  }
}