.Servicos {
  .faixa {
    text-align: center;

    h1 {
      font-size: 2rem;
    }
  }

  .itens {
    background-color: #F1F1F1;
    padding: 90px;
    margin-bottom: 180px;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

    .lista {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      list-style-type: none;
      padding: 0;
      width: 100%;
      max-width: 1200px;
      margin-bottom: 25px; 

      .lista-item {
        background-color: #ffffff;
        padding: 70px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s, transform 0.2s;

        &:hover {
          background-color: #dddddd;
          transform: scale(1.05);
        }

        &.ver-mais, &.ver-menos {
          background-color: #c0c0c0;
          color: rgb(0, 0, 0);
          margin-top: 10px;
        }
      }
    }
  }
}
