.App{
    .slider {
        img {
          width: 100%;
          height: 30vw; 
          object-fit: cover; 
        }
      }
    

    .linha{
        ul{
            display: flex;
            li{
                text-decoration: none;
                
                background-color: beige;
                margin: 0 10px;
                text-align: center;
                list-style: none;
                display: flex;
                padding: 45px;
            }
        }
    }

    .secao1{
        display: flex;
        padding: 30px;
        align-items: center;

        font-size: larger;
        h1{
            font-size: 40px;
            padding-bottom: 40px;
        }
        p{
            
            font-size: 24px;
            padding: 5px 40px;
            width: 90%;
        }
        img{
           width: 48%;
           border-radius: 10px;
        }
    }

    .secao2{
        display: flex;
        padding: 30px;
        align-items: center;

        font-size: larger;

        p{
            font-size: 24px;
            padding-right: 40px;
            width: 90%;
        }
        img{
            width: 48%;
            border-radius: 10px;
        }
    }
}

@media (max-width:1440px) {
    .App {
        width: 100vw;
    }
}

@media (max-width:1280px) {
    .App {
        width: 100%;
    }
}

@media (max-width:1024px) {
    .App {
        width: 100%;
        .faixa{
            font-size: 12px;
            padding: 25px;
        }
        .slider{
            img{
                width: 100%;
                height: 60vh;
            }
        }
        width: 100%;
        .secao1, .secao2{
            
            p{
                font-size: 20px;
                padding: 20px;
               
            }
            img{
                width: 50vw;
            }
        }
    }
}

@media (max-width:912px) {
    .App {
        .secao1, .secao2{
            flex-direction: column;
            p{
                padding: 20px;
                text-align: center;
            }
            img{
                width: 60vw;
            }
        }
    }
}



@media (max-width:540px) {
    .App {
        
    }
}

@media (max-width:430px) {
    .App {
        width: auto;
    }
}


@media (max-width:375px) {
    .App {
        width: 100%;
        .secao1{
            p{
                padding: 0;
            }
        }
    }
}