.footer {
  background-color: #02445c;
  color: #fff;
  text-decoration: none;
  .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
    
    .esq{
      img{
        width: 250px;
        margin-bottom: 20px;
      }
      .social{
        display: flex;
        gap: 15%;
        .social-icon{
          height: 2.5rem;
          width: 2.5rem;
          color: #02445c;
          background-color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.5s;

          font-size: 1.10rem;
          &:hover{
            opacity: 0.7;
            
            transform: scale(1.05);
          }
        }
      }
    }
  }
  .lista{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    color: #fff;
    text-decoration: none;
  }
  .contato{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    color: #fff;
    text-decoration: none;
    .number{
      svg{
        margin-right: 10px
      }
      flex-direction: row;
    }
    .email{
      svg{
        margin-right: 10px
      }
      flex-direction: row;
    }
    iframe{
      width: 250px;
    }
  }
}

@media (max-width:1440px) {
  .footer {
      width: 100%;
  }
}

@media (max-width:1280px) {
  .footer {
      width: 100%;
  }
}

@media (max-width:1024px) {
  .footer {
      width: 100%;
  }
}

@media (max-width:912px) {
  .footer {
      width: 100%;
      .content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }

  }
}

@media (max-width:550px) {
  .footer {
    width: 100%;
    .content{
      .lista{
        display: none;
      }
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }
}

@media (max-width:430px) {
  .footer {
      width: 100%;
  }
}


@media (max-width:375px) {
  .footer {
      width: 100%;
  }
}