.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #02445c;

  .esq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .dir {
    color: #fff;
    font-size: 20px;

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 0 80px;

    .endereco,
    .telefone {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      p {
        margin: 0;
        padding-left: 10px;
        font-size: 16px;
      }
    }
  }

  .esq {

    img {
      width: 200px;
    }

    .social-icons {
      display: flex;

      padding: 10px 0;
      gap: 50px;
      margin: 10px 0;

      .social {
        display: flex;
        background-color: #02445c;
        border: 2px solid #ffffff;
        height: 42px;
        width: 42px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        border-radius: 50%;
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
        transition: background-color 0.5s, color 0.5s, transform 0.5s, box-shadow 0.5s;
      }

      .social:hover {
        background-color: #ffffff;
        color: #02445c;
        transition: background-color 0.5s, color 0.5s, transform 0.5s;
        transform: scale(1.05);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
      }
    }
    
    a {
        text-decoration: none;
      }


    .agendar {
      background-color: #ffffff;
      font-weight: bold;
      color: #02445c;
      border-radius: 50px;
      padding: 15px;
      text-decoration: none;
      
      margin-top: 30px;
      transition: 0.5s;
      text-align: center;
      width: 30vh;

      
      &:hover {
        transition: 0.5s;
        transform: scale(1.05);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
      }
    }
  }

}