.NotFound{
    background-color: #eeeeee;
    margin: 60px auto;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center;
    width: 70%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    .voltar{
        align-items: center;
        justify-content: center;
    }
}